body {
  background: linear-gradient(white, orange); /*배경 그라데이션*/
  height: 2000px;
  margin: 0;
  padding: 0;
}

div {
  width: 100px;
  height: 100px;
  font-weight: bold;
  text-align: center;
  border: 1px solid gray;
  line-height: 100px; /*세로기준 가운데 정렬을 위해 높이와 같은 px로 설정*/
}

/* position-static 
    - default 값, 작성하지 않아도 됨
    - top, bottom, left, right 속성 적용 안됨
*/
.position-static {
  background-color: pink;
  position: static;
  top: 50px;
}

/* relative 
    - 일반적인 문서 흐름에 따라서 배치가 됨 (자기 자리 보존)
    - 자기 자신을 기준으로 배치
*/
.position-relative {
  position: relative;
  background-color: aquamarine;
  left: 100px;
  /* right: 100px; */
}

/* absolute
    - static이 아닌 값을 갖는 제일 가까운 조상 기준 배치
    - 문서 흐름을 벗어남 (자기 자리가 없어짐)
*/
.position-absolute {
  position: absolute;
  background-color: gold;
  opacity: 0.5;
  /* 현재 부모가 없어 뷰포트 기준으로 움직임*/
  top: 0;
  right: 0;
}

/* fixed
    - viewport 기준으로 특정 위치에 배치
    - 스크롤 되어도 움직이지 않음(뷰포트에 고정되어 스크롤 움직이면 따라옴) > header 제작시 많이 이용
 */
.position-fixed {
  position: fixed;
  background-color: coral;
  top: 0;
}

.container {
  width: 400px;
  height: 300px;
  position: relative;
}

/* 실습. relative/ absolute/ fixed */
.container2 {
  position: relative;
  width: 500px;
  height: 500px;
}

/* 자기 자신을 기준 */
.item1 {
  position: relative;
  left: 50px;
  top: 30px;
}

/* 컨테이너를 기준 */
.item2 {
  position: absolute;
  right: 30px;
  bottom: 100px;
}

/* 뷰포트를 기준 */
.item3 {
  position: fixed;
  right: 100px;
  top: 100px;
}

/*------------------------------*/

.container div {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: absolute;
}
.container div:nth-child(1) {
  background-color: #9afaff;
  left: 10px;
  z-index: 2;
}
.container div:nth-child(2) {
  background-color: #84ff8d;
  left: 50px;
  z-index: 1;
}
.container div:nth-child(3) {
  background-color: #ffeb88;
  left: 100px;
}

/* 실습. 요소 쌓임 순서 및 z-index */
.container3 {
  width: 500px;
  height: 500px;
  position: relative;
}

.container3 div {
  width: 100px;
  height: 100px;
  position: absolute;
}

.container3 div:nth-child(1) {
  background-color: plum;
  z-index: 1;
}

.container3 div:nth-child(2) {
  background-color: purple;
  top: 30px;
  left: 30px;
}

.container3 div:nth-child(3) {
  background-color: bisque;
  top: 60px;
  left: 60px;
}
