body {
  height: 2000px;
}
.box {
  display: inline-block;
  width: 400px;
  height: 200px;
  border: 1px solid black;
}

.background {
  /* background 단축 속성
        background: color image repeat position/size;
  */
  background: red;
  background: linear-gradient(45deg, black, white);
  background: linear-gradient(to top, black, white, orange);
}

.background-image {
  background-image: url("./img/small_img.png");

  /* 1. background-repeat */
  background-repeat: repeat;
  background-repeat: repeat-y;
  background-repeat: repeat-x;
  background-repeat: no-repeat; /*가장 많이 사용*/

  /* 2. background-position */
  /* 키워드로 지정 : center, bottom, left, right, top */
  /* background-position: center; */
  /* background-position: center top; */
  /* background-position: 100px 200px; */
  /* background-position: 100px; */

  /* 3. background-size */
  background-size: 50px; /* 가로축에 대한 크기*/
  background-size: 90px 50px; /* 가로 세로*/
  background-size: contain;
  background-size: cover;

  /* 4. background-attachment */
  background-attachment: fixed;
}

/* 실습. 배경 적용하기 */
.box2 {
  display: inline-block;
  width: 800px;
  height: 500px;
  border: 1px solid black;
  background-image: url("https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a");
}

.div1 {
  background-position: center;
  background-repeat: repeat-x;
}

.div2 {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100px 30px;
}

.div3 {
  background-size: cover;
}
