<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user page</title>
  </head>
  <body>
    <h1>user page</h1>
    <a href="/">home으로 이동</a>
    <p><%= userInfo.id%></p>
    <p><%= userInfo.pw%></p>
  </body>
</html>
