* {
  padding: 0;
  margin: 30px;
  box-sizing: border-box;
  font-family: "Stylish", serif;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
