<!DOCTYPE html>
<html lang="en">
  <%- include('include/include', {title: "회원가입"})%>
  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input type="text" id="userid" name="userid" required />
      <button type="button" onclick="doubleCheck()">중복 확인</button>
      <br />
      <label for="pw">Password</label>
      <input type="password" id="pw" name="pw" required />
      <br />
      <label for="name">Name</label>
      <input type="text" id="name" name="name" required />
      <br />
      <button type="button" onclick="register()">회원가입</button>
    </form>
    <a href="/">HOME</a>
    <a href="/signin">로그인</a>

    <script>
      function doubleCheck() {
        const userid = document.querySelector("#userid");

        // 유효성 체크
        if (!userid.checkValidity()) {
          userid.reportValidity();
          return;
        }

        axios({
          method: "post",
          url: "/doubleCheck",
          data: { userid: userid.value },
        }).then((res) => {
          if (res.data) {
            alert("사용 가능한 아이디입니다.");
          } else {
            alert("이미 사용중인 아이디입니다. 다른 아이디를 입력해주세요");
            userid.value = "";
          }
        });
      }

      function register() {
        const form = document.forms["form_register"];
        // 유효성 체크
        if (!form.checkValidity()) {
          form.reportValidity();
          return;
        }

        axios({
          method: "post",
          url: "/signup",
          data: {
            userid: form.userid.value,
            pw: form.pw.value,
            name: form.name.value,
          },
        }).then((res) => {
          alert("회원가입 완료! 환영합니다😊");
          document.location.href = "/signin";
        });
      }
    </script>
  </body>
</html>
